#
# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

config SHIELD_EKGO_LEFT
    def_bool $(shields_list_contains,ergokeeb_corne_left)

config SHIELD_EKGO_RIGHT
    def_bool $(shields_list_contains,ergokeeb_corne_right)
